.checkboxContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.linkContainer {
  margin: 0 auto;
  text-align: center;
}

.link {
  text-decoration: none;
  color: blue;
  vertical-align: middle;
}
